@import 'src/colors';

header {
	background-color: $darkgrey-accent;
}

ul {
	display: inline-block;
	list-style: none;
}

.container {
	display: inline-flex;
	flex-wrap: wrap;
}

li {
	display: inline-block;
	padding-right: 30px;

	a {
		margin: 0 10px;
		color: $primary-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
