@import 'src/colors';

.specie-card {
	box-sizing: border-box;
	width: 80%;
	margin: 10px auto;
	padding: 10px 30px;
	background-color: $darkgrey-accent;
	box-shadow: $darkgrey-accent 3px 3px 7px;

	h2 {
		margin: 0px;
	}
}
