@import 'src/colors';

mat-card {
	background-color: $darkgrey-accent;
	box-shadow: $darkgrey-accent 3px 3px 7px;
	text-align: center;
	padding: 30px;

	.general-info {
		text-align: left;
	}
}

button {
	margin: 5px;
}

.loading {
	align-self: center;
}
